<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>招领页面</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/bootstrap-switch.min.css}"/>

    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no"/>

</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/naviBarTemplate :: naviBar('found')">

</nav>

<div class="container">
    <div class="page-header">
        <h2>
            <span id="itemName"></span>
            <a style="" class="btn btn-default" th:href="@{/found/list}">返回</a>
            <a class="btn btn-default" th:if="${T(com.hf.laf.util.AdminTool).isAdmin(session)}"
               th:href="@{/found/delete(foundId=${#httpServletRequest.getParameter('id')})}">删除记录</a>
            <a class="btn btn-default"
               th:if="${T(com.hf.laf.util.AdminTool).isAdmin(session)}" href="">编辑记录</a>

            <span th:if="${T(com.hf.laf.util.AdminTool).isAdmin(session)}">
                <div>
                    <label for="reviewSwitch">审核状态：</label> <input id="reviewSwitch" type="checkbox" data-on-text="通过"
                                                                   data-off-text="未通过">
                </div>

            </span>


        </h2>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="foundName" class="col-sm-2 control-label">物品名</label>
            <div class="col-sm-10">
                <div style="text-align: left" id="foundName" class="control-label">益力多</div>
            </div>
        </div>

        <div class="form-group">
            <label for="foundPeople" class="col-sm-2 control-label">发现人</label>
            <div class="col-sm-10">
                <div id="foundPeople" style="text-align: left" class="control-label">天哪 它就躺在那边的地上一动不动</div>
            </div>
        </div>
        <div class="form-group">
            <label for="foundTelephoneNumber" class="col-sm-2 control-label">发现人电话</label>
            <div class="col-sm-10">
                <div id="foundTelephoneNumber" style="text-align: left" class="control-label">天哪 它就躺在那边的地上一动不动</div>
            </div>
        </div>

        <div class="form-group">
            <label for="foundPlace" class="col-sm-2 control-label">发现地点</label>
            <div class="col-sm-10">
                <div style="text-align: left" id="foundPlace" class="control-label">教学楼</div>
            </div>
        </div>
        <div class="form-group">
            <label for="foundTime" class="col-sm-2 control-label">发现时间</label>
            <div class="col-sm-10">
                <div id="foundTime" style="text-align: left" class="control-label">2012/12/12</div>
            </div>
        </div>
        <div class="form-group">
            <label for="foundDescribe" class="col-sm-2 control-label">详情描述</label>
            <div class="col-sm-10">
                <div id="foundDescribe" style="text-align: left" class="control-label">天哪 它就躺在那边的地上一动不动</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">图片</label>
            <div class="col-sm-10">
                <img id="foundPic"/>
            </div>
        </div>


    </form>
</div>

<script th:src="@{/static/js/jquery-3.3.1.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/bootstrap-switch.min.js}"></script>


<script th:inline="javascript">
    var isAdmin = /*[[${T(com.hf.laf.util.AdminTool).isAdmin(session)}]]*/null;
    var baseUrl = /*[[@{/found/}]]*/null;
    var queryUrl = baseUrl + "select";
    var picUrl = baseUrl + "pics/";
    var foundId = /*[[${#httpServletRequest.getParameter("id")}]]*/null;
    var data = {
        foundId: foundId
    };
    $(function () {
        $.get(queryUrl, data, function (data, status, xhr) {
            $("#itemName").text(data['foundName']);
            $("#foundName").text(data['foundName']);
            $("#foundPlace").text(data['foundPlace']);
            $("#foundTime").text(formatDateTime(data['foundTime']));
            $("#foundDescribe").text(data['foundDescribe']);
            $("#foundPeople").text(data['foundPeople'] != null?data['foundDescribe'] : '对方隐藏了个人信息，请联系工作人员获取');
            $("#foundTelephoneNumber").text(data['foundTelephoneNumber'] != null?data['foundDescribe'] : '对方隐藏了个人信息，请联系工作人员获取');
            $("#foundPic").attr("src", picUrl + data['foundPic']);

            if (isAdmin) {
                var switchButton = $("#reviewSwitch");
                if (data['hadReview'] === 1) {
                    switchButton.attr("checked", "checked");
                }

                switchButton.bootstrapSwitch();

                switchButton.on('switchChange.bootstrapSwitch', function (event, state) {
                    switchButton.bootstrapSwitch("readonly", true);
                    $.ajax({
                        url: baseUrl + "/setReview",
                        type: "POST",
                        data: {
                            foundId: foundId,
                            hadReview: state ? 1 : 0
                        }
                    });
                    switchButton.bootstrapSwitch("readonly", false);
                    // console.log(state); // true | false
                });
            }

        }, "json");
    });

    function formatDateTime(inputTime) {
        var date = new Date(inputTime);
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        m = m < 10 ? ('0' + m) : m;
        var d = date.getDate();
        d = d < 10 ? ('0' + d) : d;
        return y + '-' + m + '-' + d;
    };
</script>
</body>
</html>