 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>招领页面</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/bootstrap.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}" />
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no"  />
    <style>
        tr td:nth-child(1){
            display: block;
            width: 100%;
        }
        tr td:nth-child(2){
            display: block;
            float: left;
            width:100px;
            height: 100px;
        }
        tr td:nth-child(3){
            /*margin-left: 100px;*/
            float: left;
            width: auto;
        }
        tr td:nth-child(4){
            /*margin-left: 100px;*/
            float: left;
            width: auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/naviBarTemplate :: naviBar('found')">

</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <button onclick="$('#foundTable').bootstrapTable('refresh')" class="btn btn-default"><span class="fa fa-refresh"></span>刷新数据</button>
                    <a th:href="@{/found/add}" class="btn btn-default pull-right"><span class="fa fa-plus"></span>发布招领</a>
                </div>

            </div>

            <table id="foundTable">

            </table>
        </div>
    </div>

</div>

<script th:src="@{/static/js/jquery-3.3.1.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/bootstrap-table.min.js}"></script>
<script th:src="@{/static/js/bootstrap-table-zh-CN.min.js}"></script>
<script  th:inline="javascript">
    var root = /*[[@{/}]]*/null;
    var baseDetailUrl = root + "found/detail?id=";
    $("#foundTable").bootstrapTable({
        url:/*[[@{/found/selectpagination}]]*/null,
        pagination: true,
        pageSize: 10, // 页面数据条数
        pageNumber: 1, // 首页页码
        sidePagination: 'server', // 设置为服务器端分页
        columns:[
            {
                field:'foundName',
                title:'描述',
                formatter:function(value,row,index){
                    return '<a href="' + baseDetailUrl + row['foundId'] + '">' + value + '</a>';
                }
            },{
                field:'foundPic',
                title:'图片',
                formatter:function(value,row,index){
                    return '<img style="float: left;width: 100%" src="' + root + 'found/pics/' + value  + '" />';
                }
            },{
                field:'foundPlace',
                title:'发现地点',
                formatter:function(value,row,index){
                    return "<div>发现地点：" + value + "</div>";
                }
            },                {
                field:'foundTime',
                title:'发现时间',
                formatter:function(value,row,index){
                    return "<div>发现时间：" + value + "</div>";
                }
            }
        ],
        showHeader:false

    });

</script>
</body>
</html>